body {
  font-family: sans-serif;
}
h1 {
  font-size: 24px;
  padding: 40px;
}
.lower-text {
  font-size: 19px;
}
.location {
  font-size: 30px;
}
.container {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  border: 3px solid black;
  border-radius: 12px;
  padding: 90px;
  max-width: 900px;
  margin: 30px auto;
}
.card-body {
  text-align: center;
  background-color: #ececec;
}
.units {
  position: relative;
  font-size: 18px;
}
.right {
  float: right;
}
ul {
  list-style-type: none;
}
.weather-forecast {
  margin-top: 20px;
}
.weather-forcast-date {
  font-size: 13px;
}
